{% extends 'base_admin.html' %}
{% block content %}
	<div class="row col-12 mx-auto mt-2">
    <h2>Otsingu tulemused</h2>
        {% if object_list %}
    <table class="table table-bordered table-hover">
        <thead>
        <tr class="text-center">
            <th class="col-1">Kuupaev</th>
            <th class="col-3">Kategooria</th>
            <th>Toiduhind</th>
            <th class="col-1">Taishind</th>
            <th class="col-1">Poolikhind</th>
        </tr>
        </thead>
    <tbody>
    {% for food in object_list %}
        <tr>
            <td class="text-center"><a href="{% url 'app_admin:archive_menu' date=food.menu.date %}">{{ food.menu.date}}</a></td>

            <td>{{ food.menu.category }}</td>
            <td>{{ food.food }}</td>
            <td class="text-end">{{ food.full_price }}</td>
            <td class="text-end">{% if food.half_price > 0 %}{{ food.half_price }}{% endif %} </td>
        </tr>

    {% endfor %}

    </tbody>
    </table>
            <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo;</a>   <!--laquo teeb 2 noolekest(topeltnooled) vasakulevms, ja lsaquo teeb teisele poole-->
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a>
            </li>
        {% endif %}

        <li class="page-link text-dark">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </li>
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&rsaquo;</a>  <!--naitab jrg lehte 8hekordne nooleke-->
            </li>
             <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            </li>
        {% endif %}

  </ul>
    {% endif %}
    </div>
{% endblock %}