{% extends 'base_admin.html' %}
{% block content %}
 {% if messages %}
<div class="messages text-bg-danger">
    {% for message in messages %}
    <div class="alert alert text-bg-danger-{{ message.tags }}">
        {{ message }}
    </div>
    {% endfor %}
        </div>
    </div>
    {% endif %}
	<div class="container">
    <div class="row">
        <div class=" col-8 mx-auto">
            <h3>Toitude kategooriad</h3>
            <table class="table table-bordered table-hover">
                <thead>
                <tr class="text-center">
                     <th>ID</th>
                    <th>Toidu kategooria</th>
                    <th>Tegevus</th>
                </tr>
                </thead>
                <tbody>
                {% for category in categories %} {# default is object_list (author) must be views.py #}
                	<tr>
                        {% if user.is_authenticated %}
                    <td>{{ category.number }} </td>
                    <td>{{ category.name }}</td>
                    <td class="text/center">

                        <a href="{% url 'app_admin:category_update' pk=category.id %}" class="btn btn-warning btn-sm">Uuenda kategooria nime</a>
                        <a href="{% url 'app_admin:category_delete' pk=category.id %}" class="btn btn-danger btn-sm">Kustuta kategooria</a>

                        {% endif %}
                    </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        <ul class="pagination">
        {% if page_obj.has_previous %}
            <li class="page-item">
                <a class="page-link" href="?page=1">&laquo;</a>   <!--laquo teeb 2 noolekest(topeltnooled) vasakulevms, ja lsaquo teeb teisele poole-->
            </li>
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a>
            </li>
        {% endif %}

        <li class="page-link text-dark">
            Lehekülg {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
        </li>
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}">&rsaquo;</a>  <!--naitab jrg lehte 8hekordne nooleke-->
            </li>
             <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
            </li>
        {% endif %}

  </ul>
            <a href="{% url 'app_admin:category_create' %}">Lisa uus kategooria</a>
        </div>
    </div>
    </div>
{% endblock %}