{% extends 'base_admin.html' %}
{% block content %}
    <div class="row mt-2">
        <div class="col-6 mx-auto">
            <div class="card mb-3">
                <div class="card-header text-bg-danger">
                    Delete category
                </div>
                <div class="card-body">
                    <div class="alert alert-info" role="alert">
                        Kõikjal, kus see kategooria "{{ category }}" kasutusel on, kustutatakse see jäädavalt
                    </div>
                    <p>Kas oled kindel, et soovid kategooriat  "{{ category }}" kustutada? Kustutamist tagasi võtta ei saa</p>
                    <form method="post" action="{% url 'app_admin:category_delete' category.pk %}">
                        {% csrf_token %}
                        <input type="submit" value="Kinnita" class="btn btn-danger col-4">
                    </form>
                </div>
            </div>
            <a href="{% url 'app_admin:category_list' %}">Toidukategooriate nimekiri</a>
        </div>
    </div>
{% endblock %}