{% extends 'base_admin.html' %}

{% block content %}
    <div class="row">
        <div class="col-5 mx-auto">
            <h3>Lisa uus kategooria</h3>
            <div class="mt-3 text-info">Siin saad lisada ükshaaval toidu kategooriaid</div>
            <div class="card-body">
                {% if messages %}
                    <div class="mt-3">
                        <div class="alert alert-danger">
                                {% for message in messages %}
                                    {% if message.tags %}
                                    {% endif %}
                                    {{ message }}
                                {% endfor %}
                        </div>
                    </div>
                {% endif %}
                <form method="post" class="form mt-3">
                    {% csrf_token %}
                    {% for field in form %}
                        <div class="form-field">
                            <label for="{{ field.id_for_label }}" class="fw-bold">{{ field.label }}</label>
                            {{ field }}
                        </div>
                    {% endfor %}
                    <input type="submit" value="Lisa uus toit kategooriasse" class="btn btn-primary mt-4">
                </form>

                <p><a href="{% url 'app_admin:category_list' %}">Kategooriate nimekiri</a></p>
            </div>
        </div>
    </div>
{% endblock %}