{% extends 'base_admin.html' %}

{% block content %}
	<div class="row">
        <div class="col-5 mx-auto">
            <h3>Lisa uus menüü pealkiri</h3>
            <form method="post" class="form">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-field">
                        <label for="{{ field.id_for_label }}" class="fw-bold">{{ field.label }}</label>
                     <script>
    $(document).ready(function(){
        $("#datepicker").datepicker({
            dateFormat: 'dd.mm.yy'
        });
    });
</script>
                        {# Show errors if any #}
                        {% for error in field.errors %}
                            <div class="alert alert-danger mt-1">
                                {{ error }}
                            </div>
                        {% endfor %}

                        {{ field }}
                    </div>
                {% endfor %}
                <input type="submit" value="Lisa uus menüü" class="btn btn-primary mt-2">
            </form>
            <p><a href="{% url 'app_admin:heading_list' %}">Menüü nimekirjad</a></p>
        </div>
    </div>


{% endblock %}


