{% extends 'base_admin.html' %}
{% block content %}
	<div class="row mt-2">
    <div class="col-6 mx-auto">
        <div class="card mb-3">
            <div class="card-header text-bg-danger">
                Kustuta menüü
            </div>
            <div class="card-body">
                <div class="alert alert-info" role="alert">
                    Kusiganes see menüü {{ date }} kasutusel on, siis see asendatakse NULLiga
                </div>
                <p>Kas olete kindel, et soovite menüü {{ menu }} kustutada?</p>
                <form method="post">
                {% csrf_token %}
                    <input type="submit" value="Kustuta" class="btn btn-danger col-4">
                 </form>
            </div>

            </div>
        </div>
        <a href="{% url 'app_admin:heading_list' %}">Tagasi menüü listi</a>
    </div>
    </div>
{% endblock %}