{% extends 'base_admin.html' %}
{% block content %}
    <div class="text-info">Kui soovite lisada sama kuupäeva ja kategooria alla rohkem kui 3 toitu,
        siis saate esialgu lisada 3 ja ülejäänud toidud tuleb lisada menüü muutmise lehel!</div>
    <div></div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
      {% if form.non_field_errors %}
            <div class="alert alert-danger" role="alert">
                {% for error in form.non_field_errors %}
                    {{ error }}
                {% endfor %}
            </div>
        {% endif %}
        {# Render date and category fields from MenuForm #}
        <div class="mb-3">
            <label for="{{ form.date.id_for_label }}" class="form-label">Date:</label>
            {{ form.date }}
        </div>

        <div class="mb-3">
            <label for="{{ form.category.id_for_label }}" class="form-label">Category:</label>
            {{ form.category }}
        </div>

        {# Render additional fields from MenuItemForm using formsets #}
        {{ menuformset.management_form }}

        <fieldset>
            <legend>Lisa toit</legend>

            {% for form in menuformset.forms %}
                  {# Show errors if any #}
                        {% for error in field.errors %}
                            <div class="alert alert-danger mt-1">
                                {{ error }}
                            </div>
                        {% endfor %}
                {{ form.id }} {# Include form ID if needed #}

                <div class="mb-3">
                    {# Render fields from MenuItemForm #}
                    <label for="{{ form.food.id_for_label }}" class="form-label">Toit:</label>
                    {{ form.food }}
                </div>

                <div class="mb-3">
                    <label for="{{ form.full_price.id_for_label }}" class="form-label">Suure hind:</label>
                    {{ form.full_price }}
                </div>

                <div class="mb-3">
                    <label for="{{ form.half_price.id_for_label }}" class="form-label">Väikese hind:</label>
                    {{ form.half_price }}
                </div>
                <div class="mb-3">
                    <label for="{{ form.show_in_menu.id_for_label }}" class="form-label">Näita menüüs:</label>
                    {{ form.show_in_menu }}

                </div>

            {% endfor %}
        </fieldset>

        <div class="row">
            <div class="col-12">
                <button class="btn btn-success mt-3 me-2" type="submit"><i class="bi bi-plus-circle"></i> Lisa menüüsse</button>
            </div>
        </div>
    </form>
{% endblock %}
