{% extends 'base.html' %}
{% block content %}
    <div class="row mt-2">
        <div class="col-6 mx-auto">
            <div class="card mb-3">
                <div class="card-header text-bg-danger">
                    Kustuta kategooria
                </div>
                <div class="card-body">
                    <div class="alert alert-info" role="alert">
                        Kõikjal, kus on see menüü {{ menu }} , asendatakse see sõnaga NULL
                    </div>
                    <p> Kas oled kindel, et soovid menüüst  {{ menu }} kustutada toidud?</p>
                    <form method="post" action="{% url 'app_admin:menu_delete' menu.pk %}">
                        {% csrf_token %}
                        <input type="submit" value="Kinnita" class="btn btn-danger col-4">
                    </form>
                </div>
            </div>
            <a href="{% url 'app_admin:menu_list' %}">Menüüde nimekiri</a>
        </div>
    </div>
{% endblock %}