<!-- menu_update.html -->
{% extends "base_admin.html" %}

{% block content %}
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}

    {# Render date and category fields from MenuForm #}
    <label for="{{ form.date.id_for_label }}">Kuupäev:</label>
    {{ form.date }}
    <br>

    <label for="{{ form.category.id_for_label }}">Kategooria:</label>
    {{ form.category }}
    <br>

    {# Render additional fields from MenuItemForm using formsets #}
    {{ menuitem_formset.management_form }}
    {% for form in menuitem_formset.forms %}
      <fieldset>
        <legend>Lisa toit {{ forloop.counter }}</legend>

        {{ form.id }} {# Include form ID if needed #}

        {# Render fields from MenuItemForm #}
        {{ form.food.label_tag }}
        {{ form.food }}
        <br>

        {{ form.full_price.label_tag }}
        {{ form.full_price }}
        <br>

        {{ form.half_price.label_tag }}
        {{ form.half_price }}
        <br>
      {{ form.show_in_menu.label_tag }}
      {{ form.show_in_menu }}
      <br>
      </fieldset>
    {% endfor %}

    <button class="btn btn-success mt-3 me-2" type="submit"><i class="bi bi-plus-circle"></i> Update Menu</button>
  </form>
{% endblock %}
