<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">

    {% if user.is_authenticated %}
      <a class="navbar-brand" href="http://127.0.0.1:8000/admin/"> Admin </a>
        <li class="nav-item">
        <a class="nav-link" href="{% url "app_admin:index" %}" >Avaleht</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="{% url "app_public:index" %}" >Bistroo menüü vaatamine</a>
        </li>

              <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
               <i class="bi bi-utensils"></i> Toidukategooriad
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'app_admin:category_list' %}">Toidukategooriate nimekiri</a></li>
            <li><a class="dropdown-item" href="{% url 'app_admin:category_create' %}">Lisa toitude kategooriate nimetusi</a></li>
          </ul>
        </li>

              <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-utensils"></i> Menüü pealkirjad
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'app_admin:heading_list' %}">menuu pealkirjad</a></li>
            <li><a class="dropdown-item" href="{% url  'app_admin:heading_create' %}">Lisa uus menuu peakiri</a></li>
          </ul>
        </li>


        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button"  data-bs-toggle="dropdown" aria-expanded="false">
              <i class="bi bi-utensils"></i> Menüüd
          </a>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item" href="{% url 'app_admin:menu_add' %}">Menüü lisamine</a></li>
            <li><a class="dropdown-item" href="{% url  'app_admin:menu_list' %}">Valmis menüüde nimekirjad</a></li>

          </ul>
        </li>
         <li class="nav-item">
    <a class="nav-link" href="{% url 'app_admin:archive_page' %}">Arhiiv</a>
  </li>
{% endif %}
  {% if user.is_authenticated  %}
      <form action="">

      </form>
    	<span class="nav-link">Tere tulemast {{ user.username }}! <a href="{% url 'logout' %}">Logi välja</a></span>
 {% else %}
        <span class="nav-link">Kui sa soovid menüüd muuta, siis sa pead sisse logima! <a href="{% url 'login' %}">Logi sisse</a></span>
    {% endif %}
      </ul>
    </div>
  </div>
</nav>

