<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container">

    {% if user.is_authenticated %}
      <a class="navbar-brand" href="{% url 'app_admin:index' %}"> Admin vaade </a>
         <a class="nav-link" href="{% url 'app_admin:food_list' %}">Toitude kategooriate nimekiri</a>
        <a class="nav-link" href="{% url 'app_admin:category_create' %}">Lisa toitude kategooriate nimetusi</a>
        <a class="nav-link" href="{% url 'app_admin:menu_header' %}">Menuu paise valik</a>

    	<span class="nav-link">Tere tulemast {{ user.username }}! <a href="{% url 'logout' %}">Logi välja</a></span>
    {% else %}
        <span class="nav-link">Kui sa soovid menüüd muuta, siis sa pead sisse logima! <a href="{% url 'login' %}">Logi sisse</a></span>
    {% endif %}
      </ul>
    </div>
  </div>
</nav>

